.hdr {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1.5rem;
  height: 3rem;
  color: #617691;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  &__icon-ship {
    height: 2rem;
    width: 2rem !important;
  }
  &__icon-signout {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem !important;
  }
}

.hdr-item {
  display: flex;
  align-items: center;
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
}
